@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-bounce {
    animation: custom-bounce 3s infinite;
  }
  
  @keyframes custom-bounce {
    0%, 100% {
      transform: translateY(-7%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }


  .marquee-container {
    display: flex;
    overflow: hidden;
  }
  
  .marquee-card {
    flex: 0 0 auto;
    margin-right: 16px; /* Adjust spacing between cards */
    opacity: 0.5; /* Adjust card opacity */
    transition: opacity 0.3s ease-in-out;
  }
  
  .marquee-card.active {
    opacity: 1;
  }
  
  /* Add CSS animations for a marquee effect */
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .marquee-container {
    animation: marquee 10s linear once;
    &:hover {
      animation-play-state: running;
    }
  }
  

  @keyframes customAnimation {
    0%, 100% {
        transform: translateX(17%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        opacity: 1; /* Add opacity for fade-out effect */
    }
    50% {
        transform: translateX(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        opacity: 1; 
    }
}

.infinite-animation {
    animation: customAnimation 9s 1; /* Run only once */
}

/* YourComponent.css */

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-gradient {
  background: linear-gradient(to top, #ff9800, #2196f3, #9c27b0); /* Add your gradient colors here */
  animation: fadeDown 2s ease-in-out;
  transition: background 2s ease-in-out; /* Add a smooth transition for the background property */
}
.animated-gradient1 {
  background: linear-gradient(to top, #000dff, #d23007, #9c27b0); /* Add your gradient colors here */
  animation: fadeDown 2s ease-in-out;
  transition: background 2s ease-in-out; /* Add a smooth transition for the background property */
}
.animated-gradient2 {
  background: linear-gradient(to top, #95ff00, #2196f3, #3c1c42); /* Add your gradient colors here */
  animation: fadeDown 2s ease-in-out;
  transition: background 2s ease-in-out; /* Add a smooth transition for the background property */
}
